name: Playback Tests

on:
  push:
    paths:
      - '**'
      - '.github/workflows/playback-tests.yml'
  pull_request:
    paths:
      - '**'
      - '.github/workflows/playback-tests.yml'

jobs:
  test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          check-latest: true
          cache: true

      - name: Download modules
        run: go mod download

      - name: Run tests
        run: go test ./...
